---
// SectionTitle.astro

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<h2 class="text-4xl font-bold ">{title}</h2>
<p class="mt-2 text-sm ">{description}</p>